version: "3.9"

services:
  mongo:
     image: mongo:6
     container_name: mongo1
     
     volumes:
      - mongo_data:/data/db
     
     ports:
      - "27017:27017"

  backend:
    build:
       context: .
       dockerfile: Dockerfile
    container_name: backend1
    volumes:
     - uploads_data:/app/backend/uploads
    
    ports:
     - "8080:8080"
    depends_on:
     - mongo


  frontend:
    build: ./frontend
    container_name: frontend1
    
    ports:
     - "80:80"
    depends_on:
     - backend

volumes:
 mongo_data:
 uploads_data:

